# Circle Agent Stack Configuration
CIRCLE_DEVELOPER_KEY=

CIRCLE_WALLET_SET_ID=
CIRCLE_ENTITY_SECRET=
PLATFORM_FEE_WALLET=
PLATFORM_FEE_WALLET_ID=

# Jellyfin Backend Configuration
JELLYFIN_SERVER_URL=
JELLYFIN_API_KEY=

# cloudflare tunnel configuration
CLOUDFLARE_TUNNEL_URL=
